body {
background-color: lightgray;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image {
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 15px; 
}

img:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

header {
    display: block;
    padding: 10px;
    padding-bottom: 0px;
    max-width:900px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 239, 235);
}

#name {
    text-align: center;
}

#address {
    text-align: center;
}

#email {
    text-align: center;
}
main {
    display: block;
    padding: 10px;
    padding-top: 0px;
    max-width: 900px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 239, 235);   
}
h1, h5, h4{
    font-style: unset;
}

P .list{
    text-align: justify;
}
.list {
text-align: justify;
}
a:hover{
    color:hotpink;
}
*{
    box-sizing: border-box;
}
.container {
    width: 30%;
    background-color: #ddd;
}
.skills {
    text-align:right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}
.html, .css {
    width:80%;
    background-color: black;
}
.js {
    width:50%;
    background-color: black
}